---
layout: default
---

<section class="page-section" id="{{ site.data.sitetext.gallery.section | default: "gallery" }}">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
    />
    <link rel="stylesheet" href="assets\css\gallery.css" />
  </head>
  
  <body>
    <br />
    <h1 class="mt-12 mb-8 px-6 text-center text-lg md:text-2xl font-semibold">
      GALERIA DO PET
    </h1>
    <br />
    <center>
      <div class="flex flex-wrap gap-5 justify-center max-w-5xl mx-auto px-6">
        <a data-fancybox="gallery" href="https://lipsum.app/id/46/1600x1200" data-caption="Reunião dos 10 anos do PET na PUCRS" 
        >
          <img class="rounded" src="https://lipsum.app/id/46/200x150" style="margin: 4px 4px 4px 4px"/>
        </a>        
        <a data-fancybox="gallery" href="https://lipsum.app/id/47/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/47/200x150" style="margin: 4px 4px 4px 4px" />
        </a>
        <a data-fancybox="gallery" href="https://lipsum.app/id/51/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/51/200x150"  style= "margin: 4px 4px 4px 4px" />
        </a>
        <a data-fancybox="gallery" href="https://lipsum.app/id/46/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/46/200x150"  style="margin: 4px 4px 4px 4px"/>
        </a>
      </div>
      <div class="flex flex-wrap gap-5 justify-center max-w-5xl mx-auto px-6">
        <a data-fancybox="gallery" href="https://lipsum.app/id/47/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/47/200x150" style="margin: 4px 4px 4px 4px" />
        </a>
        <a data-fancybox="gallery" href="https://lipsum.app/id/51/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/51/200x150" style="margin: 4px 4px 4px 4px" />
        </a>
        <a data-fancybox="gallery" href="https://lipsum.app/id/46/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/46/200x150" style="margin: 4px 4px 4px 4px"/>
        </a>
        <a data-fancybox="gallery" href="https://lipsum.app/id/47/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/47/200x150" style="margin: 4px 4px 4px 4px"/>
        </a>
      </div>
      <div class="flex flex-wrap gap-5 justify-center max-w-5xl mx-auto px-6">
        <a data-fancybox="gallery" href="https://lipsum.app/id/47/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/47/200x150" style="margin: 4px 4px 4px 4px"/>
        </a>
        <a data-fancybox="gallery" href="https://lipsum.app/id/51/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/51/200x150" style="margin: 4px 4px 4px 4px" />
        </a>
        <a data-fancybox="gallery" href="https://lipsum.app/id/46/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/46/200x150" style="margin: 4px 4px 4px 4px"/>
        </a>
        <a data-fancybox="gallery" href="https://lipsum.app/id/47/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/47/200x150" style="margin: 4px 4px 4px 4px"/>
        </a>
      </div>
      <div class="flex flex-wrap gap-5 justify-center max-w-5xl mx-auto px-6">
        <a data-fancybox="gallery" href="https://lipsum.app/id/46/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/46/200x150" style="margin: 4px 4px 4px 4px"/>
        </a>
        
        <a data-fancybox="gallery" href="https://lipsum.app/id/47/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/47/200x150" style="margin: 4px 4px 4px 4px" />
        </a>
        <a data-fancybox="gallery" href="https://lipsum.app/id/51/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/51/200x150"  style= "margin: 4px 4px 4px 4px" />
        </a>
        <a data-fancybox="gallery" href="https://lipsum.app/id/46/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/46/200x150"  style="margin: 4px 4px 4px 4px"/>
        </a>
      </div>
      <div class="flex flex-wrap gap-5 justify-center max-w-5xl mx-auto px-6">
        <a data-fancybox="gallery" href="https://lipsum.app/id/46/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/46/200x150" style="margin: 4px 4px 4px 4px"/>
        </a>
        <a data-fancybox="gallery" href="https://lipsum.app/id/47/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/47/200x150" style="margin: 4px 4px 4px 4px" />
        </a>
        <a data-fancybox="gallery" href="https://lipsum.app/id/51/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/51/200x150"  style= "margin: 4px 4px 4px 4px" />
        </a>
        <a data-fancybox="gallery" href="https://lipsum.app/id/46/1600x1200">
          <img class="rounded" src="https://lipsum.app/id/46/200x150"  style="margin: 4px 4px 4px 4px"/>
        </a>
      </div>
      <br>

    </center>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script src="assets\js\gallery.js"></script>
  </body>
</section>
<center><h3><a  href="https://petinfpucrs.github.io/sitedev/"><button type="button" class="btn btn-primary btn-lg">Voltar</button></a></center>
</h3>  

{% include
  clients.html %} {% include contact.html %}